* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 800px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}